@font-face {
	font-family: 'silkscreen';
	src: url('../fonts/slkscrb.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'orangekid';
	src: url('../fonts/orangekid.ttf') format('truetype');
	font-style: normal;
}


body {
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-family: 'orangekid';
	background-color: #4d2f6b;
	color: white;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

a:hover {
	text-decoration: none;
}


/* Cartsidebar  */


/*  ---------
Custom Scrollbar
-------------- */

.card-sidebar-custom-scrollbar {
	background: #ccc;
	right: 0;
	bottom: 0;
	border-radius: 20px;
	height: 100%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}


/* Checkout */

.show-content {
	display: block !important;
	animation: rollIn 0.75s ease-in-out forwards;
	-webkit-animation: rollIn 0.75s ease-in-out forwards;
	margin-bottom: 50px !important;
}

@keyframes rollIn {
	0% {
		height: 0;
	}
	99% {
		height: 100px;
	}
	100% {
		height: max-content;
	}
}

.address-modal-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.btn-modal-custom {
	margin-right: 10px;
}

.address-box {
	cursor: pointer;
	border: 2px dashed #ccc;
	text-align: left;
	padding: 20px 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	margin: 10px 0;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
}

.address-box:hover {
	box-shadow: 0 0 50px #eee;
}


/* Selected address css */


/* .address-box {
	background: rgb(237, 78, 83, 0.2) !important;
} */

.address-box p {
	margin: 2px 0;
}

.change-address-link {
	color: rgb(237, 78, 83);
	text-decoration: underline;
}

.menu-item-footer-controls {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

html {
	scroll-behavior: smooth;
}

.body {
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-family: 'orangekid';
	background-color: #4d2f6b;
	color: #fff;
	overflow-x: hidden;
}

.bold {
	font-family: 'silkscreen';
}

.light {
	font-family: 'orangekid';
}

.fl-right {
	float: right;
}

.v-center {
	display: flex;
	align-items: center;
}

.white {
	color: #fff
}


/*Navsection*/

.nav-section .navbar {
	background-color: #4d2f6b !important;
	padding: 0;
	padding-top: 20px
}

.nav-section .navbar-brand {
	font-family: 'orangekid';
	color: #fff;
	font-size: 30px;
}

.nav-section .nav-link {
	color: #fff;
	margin: 0 10px
}

.nav-section .navbar-nav li a:hover,
.navbar-nav li.active a {
	color: #fff;
}

.nav-section .dash-btn {
	background-color: #9785EC;
	border-radius: 5px;
	padding: 10px 20px;
	color: #fff;
}


/*Banner-section*/

.banner-section {
	margin-top: 15px;
}

.banner-bg {
	background: url(../imgs/starbg.png);
	/* background-repeat: no-repeat; */
	background-position: inherit;
	background-size: contain;
	width: 100%;
}

.mrt-top {
	margin-top: 0px
}

.banner-img {
	width: 132%
}

.banner-section .logo-flex {
	display: flex;
	align-items: center;
}

.banner-section .banner-text {
	color: #fff;
	font-size: 65px;
	font-family: 'silkscreen';
	line-height: 70px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.banner-section .info-btn-list {
	display: flex;
	align-items: center;
	margin-top: 20px
}

.banner-section .info-btn {
	width: 100%;
	line-height: 25px;
	font-size: 30px;
	font-family: 'silkscreen';
	background-color: #111327;
	padding: 20px;
	border-radius: 7px;
	color: #fff;
	margin-right: 10px
}

.banner-section .info-btn .sm-btn-txt {
	font-size: 14px;
	font-family: 'orangekid';
	color: #534C85
}

.banner-section .info-btn1 {
	cursor: pointer;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #111327;
	padding: 8px 20px;
	border-radius: 7px;
	font-family: 'silkscreen';
	color: #534C85;
	font-style: 20px;
	margin-right: 10px
}

.drop-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%
}

.banner-section .info-btn1 .dropdown-menu.show {
	left: -20px!important
}


/*section1*/

.section1 {
	padding: 0 170px;
}

.section-header {
	padding: 30px 0;
}

.section-header h2 {
	text-align: center;
	font-size: 40px;
	font-family: 'silkscreen';
	color: #fff
}

.section-header .head-info {
	font-size: 28px;
	text-align: center;
}

.section1 .three-box {
	margin: 70px 0;
}

.section1 .three-box .sec1-box {
	border-radius: 15px;
	text-align: center;
	background-color: #111327;
	height: 100%;
	position: relative;
}

.section1 .three-box .sec1-box .box-center-data {
	padding: 20px 50px
}

.section1 .three-box .sec1-box .box-center-data .box-head1 {
	font-size: 30px;
	color: #FDC7AA;
	font-family: 'silkscreen';
}

.section1 .three-box .sec1-box .box-center-data .box-head2 {
	font-size: 30px;
	color: #9E8EF2;
	font-family: 'silkscreen';
}

.section1 .three-box .sec1-box .box-center-data .box-head3 {
	font-size: 30px;
	color: #FF5D9E;
	font-family: 'silkscreen';
}

.section1 .three-box .sec1-box .box-center-data .box-head-info {
	color: #6A6E92;
	font-size: 22px;
}

.section1 .three-box .sec1-box .box-center-data .box-data {
	font-size: 16px;
	margin: 20px 0;
}

.section1 .three-box .sec1-box .box-center-data .sec1-drop {
	background-color: #1B1E3B;
	width: 100%;
	color: #fff;
	border: none;
}

.section1 .three-box .sec1-box .box-center-data .select-bg {
	background-color: #1B1E3B;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 7px;
}

.section1 .three-box .sec1-box .add-to-cart1 {
	background-color: #FFC8A9;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 7px;
	margin-top: 10px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}

.section1 .three-box .sec1-box .add-to-cart2 {
	background-color: #9785EC;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 7px;
	margin-top: 10px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}

.section1 .three-box .sec1-box .add-to-cart3 {
	background-color: #FF5D9E;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 7px;
	margin-top: 10px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}

.section1 .three-box .sec1-box .add-to-cart1:hover {
	background-color: #E6B498;
	transition: 0.5s all ease-in-out;
}

.section1 .three-box .sec1-box .add-to-cart2:hover {
	background-color: #8878D5;
	transition: 0.5s all ease-in-out
}

.section1 .three-box .sec1-box .add-to-cart3:hover {
	background-color: #E6548F;
	transition: 0.5s all ease-in-out
}

.dropdown-menu.show {
	display: block;
	width: 100%;
	text-align: center;
}

.sec1-drop:hover,
.sec1-drop:visited,
.sec1-drop:active {
	outline: none;
	border: none;
}


/**/

.proxy-img {
	position: relative;
}


/**/

.cup-img {
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.proxy-img1 {
	display: none;
}

.cup-data {
	margin-top: 30px;
}

.bot-btn {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.mt-405 {
	margin-top: 400px!important;
}

.mt-50 {
	margin-top: 50px;
}


/*Section2*/

.section2 {
	padding: 50px 0
}

.section2 .four-box {
	margin-top: 80px;
	margin-bottom: 20px;
}

.section2 .four-box .four-box-flex {
	text-align: center;
	margin: 0 auto;
}

.section2 .four-box .four-box-flex .four-box-title {
	margin-top: 20px;
	color: #fff;
	font-size: 20px;
	font-family: 'silkscreen';
}


/*Section3*/

.section3 {
	padding-top: 80px
}

.section3 .slider-box {
	margin-top: 80px;
}

.section3 .slider-box .slider-box-1 {
	background-color: #111327;
	border-radius: 10px;
	padding: 30px;
	margin: 0 30px;
	height: 510px;
}

.section3 .slider-box .slider-box-1-flex {
	display: flex;
	align-items: center;
}

.section3 .slider-box .slider-box-1-flex .slide-box-head {
	color: #fff;
	font-family: 'silkscreen';
}

.section3 .slider-box .slider-box-1-flex .slide-box-head-info {
	font-size: 14px;
}


.faq .faq-list {
	margin-top: 80px;
}

.faq .faq-list .faq-box {
	padding: 50px 80px;
	border-radius: 20px;
	border: 1px solid #1D2038;
	background-color: #111327;
	height: 100%;
}

.faq .faq-list .faq-box .faq-box-head1 {
	font-family: 'silkscreen';
	font-size: 24px;
	color: #9E8EF2;
	margin-bottom: 20px;
}

.faq .faq-list .faq-box .faq-box-head2 {
	font-family: 'silkscreen';
	font-size: 24px;
	color: #F45A99;
	margin-bottom: 20px;
}

.faq .faq-list .faq-box .faq-box-head3 {
	font-family: 'silkscreen';
	font-size: 24px;
	color: #FFD0B8;
	margin-bottom: 20px;
}

.faq .faq-list .faq-box .faq-box-head4 {
	font-family: 'silkscreen';
	font-size: 24px;
	color: #FFD92B;
	margin-bottom: 20px;
}

.faq .faq-list .faq-box .faq-box-data {
	font-size: 18px;
}


/*footer*/

.footer {
	height: 700px;
	background: url(../imgs/footer.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footer .foot-data {
	padding: 50px 0;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
}

.footer .foot-data .foot-head {
	color: #fff;
	font-family: 'silkscreen';
	font-size: 24px;
	margin-bottom: 20px
}

.footer .foot-data .copy-data {
	color: #fff;
	font-size: 20px;
}

.footer .foot-data .nav-foot-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer .foot-data .nav-foot-flex>* {
	flex: 1 160px;
}

.footer .foot-data .nav-foot-flex a {
	color: #fff;
	font-size: 18px;
}

.footer .foot-data .social {
	display: flex;
	align-items: center;
}

.w-20 {
	width: 20px;
	margin-right: 20px;
}


.percentage {
	color: yellow;
	font-size: 30px;
}

.team-name {
	text-align: center;
	margin-top: 10px;
	color: yellow;
}



/* Responsive Start */

@media screen and (max-width: 1440px) {
	.banner-img {
		width: 126%;
	}
}

@media screen and (max-width: 1366px) {
	.banner-img {
		width: 120%;
	}
	.mrt-top {
		margin-top: 40px;
	}
}

@media screen and (max-width: 1199px) {
	.banner-img {
		width: 112%;
	}
	.footer .foot-data .nav-foot-flex>* {
		flex: 1 130px;
	}
	.banner-section .banner-text {
		font-size: 42px;
		margin-top: 25px;
		margin-bottom: 25px;
		line-height: 52px
	}
	.banner-section .info-btn {
		font-size: 24px;
		padding: 18px;
	}
}

@media screen and (max-width: 1024px) {
	.banner-img {
		width: 114%;
	}
	.mrt-top {
		margin-top: 30px;
	}
	.section1 .three-box .sec1-box .box-center-data {
		padding: 20px 35px;
	}
}

@media screen and (max-width: 991px) {
	.banner-img {
		width: 138%;
	}
	.banner-section .logo-flex {
		margin-top: 70px;
		margin-bottom: 30px;
	}
	.navbar-nav.m-auto {
		text-align: center;
	}
	.my-2.my-lg-0 {
		text-align: center;
	}
	.banner-section .banner-text {
		font-size: 36px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.col-md-5.mrt-top {
		flex: 0 0 75%;
		max-width: 55%;
	}
	.banner-section .info-btn {
		padding: 8px;
		font-size: 20px;
	}
	.footer .foot-data .nav-foot-flex>* {
		flex: 1 90px;
	}
	.banner-section .info-btn .sm-btn-txt {
		line-height: 0px
	}
	.faq .faq-list .faq-box {
		padding: 50px 35px;
	}
	.section3 .slider-box .slider-box-1 {
		padding: 15px;
	}
	.section1 .three-box .sec1-box .box-center-data {
		padding: 20px 45px;
	}
	.section1 .three-box .sec1-box .box-center-data .box-head2 {
		font-size: 26px;
	}
}

@media screen and (max-width: 768px) {
	.banner-img {
		width: 112%;
	}
}

@media screen and (max-width: 767px) {
	.banner-img {
		width: 100%;
		margin-top: 50px
	}
	.banner-section .logo-flex {
		justify-content: center;
	}
	.banner-section .banner-text {
		text-align: center;
	}
	.banner-section .info-btn {
		padding: 20px;
		font-size: 26px;
	}
	.section1 {
		padding: 0;
	}
	.section-header {
		text-align: center;
	}
	.footer .foot-data .foot-head {
		margin-top: 50px;
	}
	.footer .foot-data .nav-foot-flex>* {
		flex: 1 200px;
	}
	.section2 .four-box .four-box-flex .four-box-title {
		font-size: 18px;
	}
	.section-header h2 {
		
		text-align: center;
		font-size: 36px
	}
	.section-header .head-info {
		text-align: center;
		font-size: 22px;
	}
	.proxy-img {
		display: none;
	}
	.proxy-img1 {
		display: block;
	}
	.section1 .three-box .sec1-box .box-center-data .box-head1,
	.section1 .three-box .sec1-box .box-center-data .box-head2,
	.section1 .three-box .sec1-box .box-center-data .box-head3 {
		margin-top: 0px;
	}
	.cup-flex {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 10%;
		left: 0%;
		right: 0;
		text-align: left;
		margin: 0 auto;
	}
	.section1 .three-box .sec1-box .box-center-data .box-data {
		font-size: 16px;
		margin: 8px 0px;
	}
	.cup-data {
		margin-left: 30px;
	}
}

@media screen and (max-width: 575px) {
	/*today*/
	.section-header h2 {
		text-align: center;
		font-size: 26px
	}
	/*today*/
	.section-header .head-info {
		text-align: center;
		font-size: 22px;
	}
	/*today*/
	.section2 .four-box .four-box-flex .four-box-title {
		font-size: 16px;
	}
	/*today*/
	.footer .foot-data {
		padding-left: 50px;
	}
	.section1 .three-box .sec1-box .box-center-data {
		padding: 20px 15px;
	}
}

@media screen and (max-width: 480px) {
	.section-header .head-info {
		text-align: center;
		font-size: 22px;
	}
	.faq .faq-list {
		margin-top: 30px;
	}
	.section3 .slider-box {
		margin-top: 30px;
	}
	.section2 .four-box {
		margin-top: 30px;
	}
	.section1 .three-box {
		margin-top: 30px;
	}
	/**/
	.cup-img {
		height: 135px;
	}
	.cup-flex {
		top: 10%;
		width: 80%
	}
}

@media screen and (max-width: 430px) {
	.show {
		display: none;
	}
	.mt-405 {
		margin-top: 0px !important;
	}
	.select-bg-top {
		margin-top: 37px;
	}
	.second {
		margin-top: 62px;
	}
	.footer .foot-data .nav-foot-flex>* {
		flex: 1 180px;
	}
	/*today*/
	.section-header h2 {
		text-align: center;
		font-size: 22px
	}
	/*today*/
	.section-header .head-info {
		font-size: 22px;
		text-align: center;
	}
	/*today*/
	.banner-section .info-btn {
		padding: 10px;
		font-size: 20px;
	}
	/*today*/
	.faq .faq-list .faq-box .faq-box-head1 {
		font-size: 22px
	}
	/*today*/
	.faq .faq-list .faq-box {
		padding: 20px;
	}
	/*today*/
	.footer .foot-data .nav-foot-flex>* {
		flex: 1 145px;
	}
	ul.text-left {
		margin-top: 40px;
	}
	.cup-img {
		height: 110px;
	}
}

@media screen and (max-width: 375px) {
	.footer .foot-data .nav-foot-flex>* {
		flex: 1 145px;
	}
	.faq-section {
		padding-top: 50px;
		padding-bottom: 0px
	}
	/*today*/
	.footer .foot-data {
		padding-left: 30px;
	}
	/*.section1 .three-box .sec1-box .box-center-data .select-bg{margin-top: 70px;}*/
	.cup-data {
		margin-left: 14px;
	}
	.mt-minus {
		margin-top: 60px!important;
	}
	.cup-flex.new-cup {
		top: 27%;
	}
	.new-top {
		margin-top: 90px;
	}
	.cup-flex {
		top: 13%;
		width: 80%;
	}
	ul.text-left {
		margin-top: 50px;
	}
}

@media screen and (max-width: 320px) {
	.second {
		margin-top: 102px;
	}
	.cup-data {
		margin-left: 30px;
		width: 142px;
	}
	/*.section1 .three-box .sec1-box .box-center-data .select-bg {margin-top: 150px;}*/
	ul.text-left {
		margin-top: 130px;
	}
	.cup-flex {
		top: 8%;
		width: 80%;
	}
}

.react-multi-carousel-dot button {
	background-color: #212C4B !important;
	border-color: #212C4B !important;
}

.react-multi-carousel-dot--active button {
	background: #9E8EF2!important;
	width: 25px!important;
	border-radius: 50px!important;
}

.nft-img {
	max-width:100%;
	max-height:100%;
}

.logo-img {
	padding: 60px;
	max-width:60%;
	max-height:60%;
}

.foot-logo-img {
	max-width:20%;
	max-height:20%;
}

.social-icon-footer {
	margin: 0 10px;
	width: 30px;
	height: auto;
}

.social-icon-header {
	margin: 0 10px;
	margin-top: 15px;
	width: 15px;
	height: auto;
}

.nav-align-right {
	margin-left: auto; 
	margin-right: 0;
}